/Etapa 02/FormularioIngreso/nbproject/private/
/Etapa 02/FormularioIngreso/build/
/Etapa 02/Etapa2/build/
/Etapa 02/Etapa2/nbproject/private/
/Etapa 02/Etapa2/dist/
/Etapa03/nbproject/private/
/Etapa03/build/
/Etapa3/nbproject/private/
/Etapa3/build/
/Etapa3/dist/
