<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>EliminarEmpleado</servlet-name>
        <servlet-class>Servlets.EliminarEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearModificarEmpleado</servlet-name>
        <servlet-class>Servlets.CrearModificarEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearModificarProveedor</servlet-name>
        <servlet-class>Servlets.CrearModificarProveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarProveedor</servlet-name>
        <servlet-class>Servlets.EliminarProveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarProducto</servlet-name>
        <servlet-class>Servlets.EliminarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearModificarProducto</servlet-name>
        <servlet-class>Servlets.CrearModificarProducto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EliminarEmpleado</servlet-name>
        <url-pattern>/EliminarEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearModificarEmpleado</servlet-name>
        <url-pattern>/CrearModificarEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearModificarProveedor</servlet-name>
        <url-pattern>/CrearModificarProveedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarProveedor</servlet-name>
        <url-pattern>/EliminarProveedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarProducto</servlet-name>
        <url-pattern>/EliminarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearModificarProducto</servlet-name>
        <url-pattern>/CrearModificarProducto</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
